In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [17]:
bmi_life_data = pd.read_csv("bmi_life_expectancy.csv")

## Count:
counts not nulls in a particular axis<br>
axis=0: give count of not nulls in each columns<br>
axis=1: give count of not nulls in each rows

In [21]:
print bmi_life_data.count(0)

Country            163
Life expectancy    164
BMI                164
dtype: int64

In [22]:
print bmi_life_data.get('Country')

0                 Afghanistan
1                     Albania
2                     Algeria
3                     Andorra
4                      Angola
5                     Armenia
6                   Australia
7                     Austria
8                  Azerbaijan
9                     Bahamas
10                 Bangladesh
11                   Barbados
12                    Belarus
13                    Belgium
14                     Belize
15                      Benin
16                     Bhutan
17                    Bolivia
18     Bosnia and Herzegovina
19                   Botswana
20                     Brazil
21                   Bulgaria
22               Burkina Faso
23                    Burundi
24                   Cambodia
25                   Cameroon
26                     Canada
27                 Cape Verde
28                       Chad
29                      Chile
                ...
134                 Sri Lanka
135                     Sudan
136                  Suriname
137                 Swaziland
138                    Sweden
139               Switzerland
140                     Syria
141                Tajikistan
142                  Tanzania
143                  Thailand
144               Timor-Leste
145                      Togo
146                     Tonga
147       Trinidad and Tobago
148                   Tunisia
149                    Turkey
150              Turkmenistan
151                    Uganda
152                   Ukraine
153      United Arab Emirates
154            United Kingdom
155             United States
156                   Uruguay
157                Uzbekistan
158                   Vanuatu
159        West Bank and Gaza
160                   Vietnam
161                    Zambia
162                  Zimbabwe
163                       NaN
Name: Country, Length: 164, dtype: object

In [37]:
bmi_life_data.le.im_self

                    Country  Life expectancy        BMI
0               Afghanistan             52.8   20.62058
1                   Albania             76.8   26.44657
2                   Algeria             75.5   24.59620
3                   Andorra             84.6   27.63048
4                    Angola             56.7   22.25083
5                   Armenia             72.3   25.35542
6                 Australia             81.6   27.56373
7                   Austria             80.4   26.46741
8                Azerbaijan             69.2   25.65117
9                   Bahamas             72.2   27.24594
10               Bangladesh             68.3   20.39742
11                 Barbados             75.3   26.38439
12                  Belarus             70.0   26.16443
13                  Belgium             79.6   26.75915
14                   Belize             70.7   27.02255
15                    Benin             59.7   22.41835
16                   Bhutan             70.7   22.82180
17                  Bolivia             71.2   24.43335
18   Bosnia and Herzegovina             77.5   26.61163
19                 Botswana             53.2   22.12984
20                   Brazil             73.2   25.78623
21                 Bulgaria             73.2   26.54286
22             Burkina Faso             58.0   21.27157
23                  Burundi             59.1   21.50291
24                 Cambodia             66.1   20.80496
25                 Cameroon             56.6   23.68173
26                   Canada             80.8   27.45210
27               Cape Verde             70.4   23.51522
28                     Chad             54.3   21.48569
29                    Chile             78.5   27.01542
..                      ...              ...        ...
134               Sri Lanka             74.0   21.96671
135                   Sudan             65.5   22.40484
136                Suriname             70.2   25.49887
137               Swaziland             45.1   23.16969
138                  Sweden             81.1   26.37629
139             Switzerland             82.0   26.20195
140                   Syria             76.1   26.91969
141              Tajikistan             69.6   23.77966
142                Tanzania             60.4   22.47792
143                Thailand             73.9   23.00803
144             Timor-Leste             69.9   20.59082
145                    Togo             57.5   21.87875
146                   Tonga             70.3   30.99563
147     Trinidad and Tobago             71.7   26.39669
148                 Tunisia             76.8   25.15699
149                  Turkey             77.8   26.70371
150            Turkmenistan             67.2   25.24796
151                  Uganda             56.0   22.35833
152                 Ukraine             67.8   25.42379
153    United Arab Emirates             75.6   28.05359
154          United Kingdom             79.7   27.39249
155           United States             78.3   28.45698
156                 Uruguay             76.0   26.39123
157              Uzbekistan             69.6   25.32054
158                 Vanuatu             63.4   26.78926
159      West Bank and Gaza             74.1   26.57750
160                 Vietnam             74.1   20.91630
161                  Zambia             51.1   20.68321
162                Zimbabwe             47.3   22.02660
163                     NaN            100.0  200.00000

[164 rows x 3 columns]

In [40]:
bmi_life_data['BMI'].values

array([  20.62058,   26.44657,   24.5962 ,   27.63048,   22.25083,
         25.35542,   27.56373,   26.46741,   25.65117,   27.24594,
         20.39742,   26.38439,   26.16443,   26.75915,   27.02255,
         22.41835,   22.8218 ,   24.43335,   26.61163,   22.12984,
         25.78623,   26.54286,   21.27157,   21.50291,   20.80496,
         23.68173,   27.4521 ,   23.51522,   21.48569,   27.01542,
         22.92176,   24.94041,   22.06131,   19.86692,   21.87134,
         26.47897,   22.56469,   26.59629,   25.06867,   27.41899,
         26.13287,   23.38403,   25.58841,   26.73243,   26.36751,
         20.88509,   26.26446,   20.247  ,   26.53078,   26.73339,
         25.85329,   30.86752,   24.0762 ,   21.65029,   25.54942,
         27.16509,   22.84247,   26.33786,   26.01359,   25.17988,
         25.29947,   22.52449,   21.64338,   23.68465,   23.66302,
         25.10872,   27.11568,   27.20687,   20.95956,   21.85576,
         25.31003,   26.71017,   27.65325,   27.13151,   24.00421,
         23.50004,   27.47362,   26.29078,   21.59258,   29.17211,
         26.45693,   21.90157,   21.89537,   26.54164,   26.86102,
         27.43404,   26.34473,   21.40347,   22.03468,   24.73069,
         23.21991,   21.78881,   27.68361,   29.37337,   22.62295,
         25.15669,   27.42468,   24.2369 ,   24.88385,   26.55412,
         25.63182,   21.93536,   21.44932,   22.65008,   20.76344,
         26.01541,   25.77291,   21.21958,   23.03322,   26.93424,
         26.24109,   22.29914,   26.26959,   25.01506,   25.54223,
         24.77041,   22.87263,   26.6738 ,   26.68445,   28.13138,
         25.41069,   26.01131,   22.55453,   30.42475,   23.51233,
         21.92743,   26.51495,   22.53139,   23.83996,   26.92717,
         27.43983,   21.96917,   26.85538,   27.49975,   21.96671,
         22.40484,   25.49887,   23.16969,   26.37629,   26.20195,
         26.91969,   23.77966,   22.47792,   23.00803,   20.59082,
         21.87875,   30.99563,   26.39669,   25.15699,   26.70371,
         25.24796,   22.35833,   25.42379,   28.05359,   27.39249,
         28.45698,   26.39123,   25.32054,   26.78926,   26.5775 ,
         20.9163 ,   20.68321,   22.0266 ,  200.     ])

In [46]:
bmi_life_data[['Life expectancy']]

     Life expectancy
0               52.8
1               76.8
2               75.5
3               84.6
4               56.7
5               72.3
6               81.6
7               80.4
8               69.2
9               72.2
10              68.3
11              75.3
12              70.0
13              79.6
14              70.7
15              59.7
16              70.7
17              71.2
18              77.5
19              53.2
20              73.2
21              73.2
22              58.0
23              59.1
24              66.1
25              56.6
26              80.8
27              70.4
28              54.3
29              78.5
..               ...
134             74.0
135             65.5
136             70.2
137             45.1
138             81.1
139             82.0
140             76.1
141             69.6
142             60.4
143             73.9
144             69.9
145             57.5
146             70.3
147             71.7
148             76.8
149             77.8
150             67.2
151             56.0
152             67.8
153             75.6
154             79.7
155             78.3
156             76.0
157             69.6
158             63.4
159             74.1
160             74.1
161             51.1
162             47.3
163            100.0

[164 rows x 1 columns]

In [53]:
bmi_life_model = LinearRegression()
bmi_life_model.fit(bmi_life_data[['BMI']],bmi_life_data[['Life expectancy']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [54]:
laos_life_exp = bmi_life_model.predict([[21.07931]])
print laos_life_exp

[[ 68.68376762]]